@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/breakpoints';

.cardServices {
	padding: 1em;
	margin-bottom: 1.3em;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

	&__text {
		padding: 1em;
	}

	&__btn {
		@include flexBox;
		justify-content: space-between;

		.button {
			width: 100% !important;
			text-align: center;
		}
	}
}
