@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/breakpoints';

.about {
	&__img {
		margin-right: 1.5em;
	}

	&__desc {
		margin: 1.5em 0;

		@include screenBreakpoint(tablet) {
			margin: 0;
		}

		h2 {
			margin-bottom: 0.5em;
		}

		p {
			margin: 1.5em 0;
		}
	}

	.icon {
		&:not(:last-child) {
			margin-right: 2em;
		}
	}

	@include screenBreakpoint(tablet) {
		@include flexBox;
		align-items: flex-start;
	}
}
