@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/breakpoints';

$marbot: 0.5em;

.cardComp {
	margin-bottom: 2em;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

	.text-wrapper {
		padding: 0 1em;
	}

	.title {
		margin-bottom: $marbot * 0.5;
	}

	.desc {
		margin-bottom: $marbot * 2;
	}

	.btn-wrapper {
		@include flexBox;
		justify-content: space-between;

		.button {
			width: 30%;
			text-align: center;

			@include screenBreakpoint(desktop) {
				width: 35%;
			}
		}
	}
}
