@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';
@import '../../assets/scss/colors.scss';
@import '../../assets/scss/breakpoints.scss';

.nav {
	line-height: 10vh;
	position: sticky;
	top: 0;
	height: 10vh;
	width: 100%;
	background: $White;
	z-index: 99;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

	&__container {
		@include flexBox;
		justify-content: space-between;
		padding: 0 5vw;
	}

	&--logo {
		font-family: $font-logo;
		font-size: 2.5rem;
		color: $Black;
		flex: 1;
	}

	&--menu {
		position: absolute;
		top: -100vh;
		left: 0;
		width: 100%;
		padding: 0 5vw;
		text-align: center;
		background: rgb(255, 255, 255);
		transition: $halfSec;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
			rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

		&.active {
			top: 10vh;
		}

		@include screenBreakpoint(tablet) {
			@include flexBox;
			flex: 1;
			justify-content: space-between;
			position: static;
			top: 0;
			box-shadow: none;
			padding: 0;
		}
	}

	&--links {
		color: $Black;
		padding: 1em 5em;
		transition: $halfSec;

		&:hover {
			background: $Black;
			color: $White;
		}

		&.active {
			background: #000;
		}

		@include screenBreakpoint(tablet) {
			padding: 0.8em 1.3em;
		}
	}

	&--icon {
		font-size: 1.8rem;
		cursor: pointer;

		@include screenBreakpoint(tablet) {
			display: none;
		}
	}
}
