@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  transition: background-color 0.3s;
}

.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bellefair-regular {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}


/* .wkwk:hover {
  animation: rotate 0.1s linear infinite;
}

.bg-color-changing {
  animation: bg-color-change 1s linear infinite !important;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bg-color-change {
  0% {
    background-color: #ff0000;
  }
  25% {
    background-color: #fbff00;
  }
  50% {
    background-color: #51ff00;
  }
  75% {
    background-color: #002aff;
  }
  100% {
    background-color: #000000;
  }
} */
