// global styling
@import './assets/scss/variables';
@import './assets/scss/mixins';
@import './assets/scss/colors';
@import './assets/scss/breakpoints';

// font
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	@include resetHtml;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: $font-body;
	font-size: 16px;
}

.container {
	min-height: 90vh;
	@include flexBoxCol;
	justify-content: center;
	padding: 5vh 10vw;

	@include screenBreakpoint(phone) {
		// text-align: center;
	}
}

// element

img {
	width: 100%;
}

button,
.button {
	all: unset;
	@include cta;
	transition: $halfSec;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

// font
h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.5em;

	&.title {
		background: rgba(127, 127, 127, 0.1);
		width: fit-content;
		padding: 0.3em 1em;
	}
}

h3 {
	font-size: 1.2em;
}

p {
	font-size: 0.9em;
}

// margin
.title {
	margin-bottom: 0.5em;
	font-weight: bold;
}

.mb-1 {
	margin-bottom: 1em;
}

.mb-2 {
	margin-bottom: 2em;
}
